.panel{
    display: flex;
    flex-direction: column;
    background: var(--surface);
    
    backdrop-filter: blur(18px);
    box-shadow:  3px 0 20px rgba(0.0.0.0.5);
    
    border: 1px solid var(--border);
    padding: 2px;
    color: var(--text-secondary);
    
    
    /*overflow: hidden;*/
}

.panel-open-false{
    max-width: 0;
    box-shadow: none;
    
}

